<!DOCTYPE html>
<html lang="en">
<head id="headerId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
function loadDoc(){

   $('#main').load("play");

}
</script>

    <div id="main">
        <div id="mMessage"><h3 id="main-message">The Main Message</h3></div>

    <h3 id="result-message">Result Message Content</h3>

    <form id="game-form"
          action="play2"
          method="post" onsubmit="loadDoc()">
        <label id="enter-guess" for="guess">Enter your guess</label>
        <input id="guess" type="number" name="guess"/>
        <input id="submit" type="submit" value="Submit">
    </form>
    </div>
    <footer id="footerId">
        <p>Create by Ripon</p>
    </footer>
</div>
</body>
</html>
